body{
    font-family: Barlow;
        background-color: #FFFFFF;
        position: relative;
        overflow-x: hidden;
    }
    
    /* NAVIGATION  --START*/
        .navigation {
        max-width: 1110px;
        margin: 0 auto;
    }
    
        .navigation ul{
        padding: 0;
        margin: 0;
        }
        .navigation-item:last-child a{
        text-decoration: none;
        color: #000;
        background: #E8EFF2;
        border-radius: 8px;
        padding: 12px;
        transition: background 0.75s;
        }
        .navigation-item:last-child a:hover{
        color: #fff;
        background: #7B8BAD;
        }
        .navigation-item:last-child a:active{
        color: #fff;
        background: #162542;
        }
    
        .naviation-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1110px;
        height: 58px;
        list-style: none;
        }
    
        .naviation-item button{
        background-color: #E8EFF2;
        padding: 12px;
        outline: none;
        }
    /* NAVIGATION --END */ 

    
    /* UTILITIES -- START */
        .container {
        max-width: 1110px;
        margin: 0 auto;
        }
    /* UTILITIES  -- END*/
    

    /* TYPEMASTER KEYBOARD --START */
        .typemaster-box{
        display: flex;
        margin-top: 83px;
        position: relative;
        }

        .empty-box { 
        position: absolute;
        top: 0;
        left: 103%;
        width: 255px;
        height: 240px;
        border-radius: 5%;
        background-color: #E8EFF2;
        }

        .typemaster-keyboard{
        display: flex;
        align-items: center;
        }
        
        .typemaster-details{
        width: 445px;
        height: 312px;
        display: inline-block;
        color: #7B8BAD;
        font-size: 18px;
        }
            
        h1{
        font-size: 56px;
        color: #162542;
        }
        
        .order-details{
        display: flex;
        align-items: center;
        }
    
        .preorder1, .release{
        font-weight: bold;
        text-transform: uppercase;
        }   

    .preorder-link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 175px;
        height: 58px;
        background-color: #F16718;
        font-size: 16px;
        color: white;
        border-radius: 5%;
        text-decoration: none;
        }

    .preorder-link:active{
        background-color: #000000;
        }
    
        .release{
        color: #7B8BAD;
        margin-left: 30px;
        font-size: 16px;
        }
        
        
        .image1 img{
        width: 540px;
        height: 480px;
        border-radius: 5%;
        position: relative;
        left: 24%;
        }
    /* TYPEMASTER KEYBOARD --END */


        /*WIRELESS KEYBOARD --START  */
        .wireless-box{
        display: flex;
        position: relative;
        margin-top: 30px;
        }
        
        .empty{
        width: 255px;
        height: 236px;
        border-radius: 5%;
        background-color: #E8EFF2;
        position: absolute;
        top: 51%;
        left: -25%;
        }
        
        .wireless-keyboard{
        display: flex;
        }
    
        .image2{
        position: relative;
        }
        
        .image2 img{
        width: 255px;
        height: 480px;
        border-radius: 5%;
        
        } 
        
        .image2-color{
        position: absolute;
        width: 255px;
        height: 480px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #F16718;
        opacity: 0.8;
        border-radius: 5%;
        
        }
        
        .image3 img{
        width: 445px;
        height: 480px;
        border-radius: 5%;
        position: relative;
        left: 30px;
        }
        
        .wireless-details{
        display: block;
        width: 255px;
        height: 265px;
        position: relative;
        left: 125px;
        }
        
        h2{
        font-size: 32px;
        color: #162542;
        text-transform: uppercase;
        }
        
        p{
        font-size: 16px;
        color: #7B8BAD;
        }
    /* WIRELESS KEYBOARD --END */


        /*KEYBOARD FEATURES --START  */
        .features{
        display: flex;
        margin-top: 50px;
        }
        
        .svg{
        height: 65px;
        width: 65px;
        background-color: #F16718;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
           
        h3{
        text-transform: uppercase;
        font-size: 24px;
        color: #162542;
        }
        .wire{
        width: 255px;
        height: 323px;
        }
    /* KEYBOARD FEATURES --END */


    /* FOOTER --START */
        .footer{
        width: 100%;
        text-align: center;   
        margin: 128px auto 0 auto;
        }
        
        span{
        font-weight: bold;
        }
    /* FOOTER --END */



    /* Media Queries */

    /* 01  TABLET // 768px -- START */
    @media only screen and (max-width:768px){

        body{
            max-width: 768px;
            position: relative;
        }
        .navigation, .navigation ul{
            max-width: 689px;
            height: 58px;
            margin-top: 40px;
        }
        .container {
            max-width: 689px;
            margin: 0 auto;
        }
        .typemaster-box{
            margin-top: 40px;
        }

        .empty-box{
            display: none;
        }
        
        .typemaster-keyboard{
            display: flex;
            align-items: center;
            max-width: 689px;
            overflow-x: hidden;
        }
        .typemaster-details{
            display: block;
            color: #7B8BAD;
            font-size: 16px;
        }
        .release{
            margin: 0 auto;
        }
        h1{
            font-size: 48px;
            color: #162542;
        }

        .image1 img{
            position: relative;
            width: 478px;
            height:425px;
            top: 0;
            left: 50px;
            
            }
        .wireless-box{
            margin-top: 40px;
        }
        .wireless-keyboard{
            display: flex;
            max-width: 689px;
            flex-wrap: wrap;
            
        }
        .empty{
            display: none;
        }
        .image2 img{
        width: 214px;
        height: 320px;
        border-radius: 5%;
        }
        .image2-color{
        position: absolute;
        width: 214px;
        height: 320px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #F16718;
        opacity: 0.8;
        border-radius: 5%;    
        }

        .image3 img{
        width: 445px;
        height: 320px;
        border-radius: 5%;
        position: relative;
        left: 32px;
        }

        .wireless-details{
        display: flex;
        align-items: center;
        margin-top: 72px;
        width: 689px;
        height: 108px;
        position: relative;
        position: initial;
        }
        .features{
        display: flex;
        flex-wrap: wrap;
        margin-top: 142px;
        width: 631px;
        height: 650px;
        justify-content: space-between;
        }
        .footer{
            margin-top: 142px;
        }

        }       

       /* 01  TABLET // 768px -- END */



        /* 02  MOBILE // 375px -- START */
    @media only screen and (max-width:375px){
        body{
            max-width: 375px;
            font-family: Barlow;
            position: relative;
        }
        .navigation, .navigation ul{
            max-width: 327px;
            height: 48px;
            margin-top: 24px;
        }
        .container {
            max-width: 327px;
            margin: 0 auto;
        }
        .typemaster-box{
            margin-top: 64px;
        }

        .empty-box{
            display: none;
        }
        
        .typemaster-keyboard{
            display: flex;
            flex-wrap: wrap;    
        }
        .image1 img{
            position: initial;
            margin-top: 64px;
            width: 372px;
            height:331px;
        }
        .typemaster-details{
            color: #7B8BAD;
            width: 327px;
            height: 286px;
        }
        .release{
            margin: 0 auto;
        }
        h1{
            font-size: 48px;
            font-weight: 900;
            color: #162542;
            line-height: 48px;
        }
        .wireless-box{
            margin-top: 24px;
        }
        .wireless-keyboard{
            display: flex;
            max-width: 327px;
            flex-wrap: wrap;
        }
            .image2 img{
            width: 129px;
            height: 193px;
            border-radius: 5%;
            position: absolute;
            top: 0;
            left: -30px;
            }
            .image2-color{
            position: absolute;
            width: 129px;
            height: 193px;
            top: 0;
            left: -30px;
            bottom: 0;
            right: 0;
            background-color: #F16718;
            opacity: 0.8;
            border-radius: 5%;    
            }

            .image3 img{
            width: 220px;
            height: 193px;
            border-radius: 5%;
            position: relative;
            top: 0;
            left: 110px;
            margin: 0 auto;
            }

            .wireless-details{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 75px;
            max-width: 327px;
            height: 108px;
            }
            .features{
            display: flex;
            flex-wrap: wrap;
            max-width: 375px;
            }
            .wire{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            }
            .compatibility{
                margin-top: 111px;
            }
            .footer{
            margin: 0 auto;
            position: absolute;
            left: 0;
            top: 140%;
            }
    }       
       /* 02  MOBILE // 375px -- END */


       